@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    height: 94rem;
    width: 97.5rem;
    margin: 0 auto;
}

nav {
    background-color: #f2e5d3;
}

.title {
    background-color: #fa5041;
    height: 125px;
    padding: 20px 50px;
    width: 250px;
}

.title h1 {
    color: #382A1E;
    display: flex;
    font-size: 55px;
    justify-content: center;
    letter-spacing: 3px;
}

.title h2 {
    color: #dcd9d6;
    display: flex;
    font-size: 24px;
    font-family: sans-serif;
    justify-content: center;
}

.links {
    display: flex;
    flex-direction: column;
    height: 16.25em;
    margin: 0 auto;
    margin-top: 30px;
    width: 9em;
}

.nav-link {
    color:#382a1e;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    padding-top: 22px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    a:hover {
        color: #fa5041;
    }
    header h2 {
        color: #fa5041;
    }
}

#main-doc {
    background-color: #eeeae5;
    color: #382a1e;
}

main header {
    font-size: 20px;
    font-weight: bolder;
    margin: 32px auto 15px 35px;
}

article {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin: auto 70px;
    line-height: 150%;
}

code {
    color: palevioletred;
    font-size: 15px;
    padding: 8px;
}

ul {
    padding: 8px
}